.p0, button.force_p0, menubutton.force_p0 > button {
  padding: 0;
}

.p10 {
  padding: 10px;
}

button.p0, menubutton.p0 > button, label.ph5 {
  padding: 0 5px 0 5px;
}

.rounded-corner {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.blur-backdrop {
  backdrop-filter: blur(5px);
  background: color-mix(in srgb, var(--window-bg-color) 75%, transparent);
}

.darker {
  filter: brightness(80%);
}

.translucent-picture {
  opacity: 0.5;
}

.overview > box, .episode > overlay > box {
  background: linear-gradient(0deg, var(--window-bg-color) 0%, transparent 80%);
}

button.active_appearance_button:disabled {
  filter: none;
}

button.episode {
  transition: filter .2s;
}

button.episode:hover {
  filter: brightness(125%);
}

.episode label.dimmed {
  font-weight: normal;
}

.carousel-overlay-right {
  background: linear-gradient(to left,
    @window_bg_color 0%,
    transparent 100%
  );
}

.carousel-overlay-left {
  background: linear-gradient(to right,
    @window_bg_color 0%,
    transparent 100%
  );
}
